name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".envrc-example"

env:
  # required for `gh` cli to work
  GH_TOKEN: ${{ secrets.github_token }}

# by default, permissions are read-only, read + write is required for git pushes
permissions: write-all

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: iloveitaly/github-action-railpack@master
        with:
          platforms: "linux/amd64,linux/arm64"
          push: true
